@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.navDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: ghostwhite;
}

/* Style for each tab */
.navText {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", Helvetica, sans-serif;
  cursor: pointer;
  padding: 8px;
}

.navText:hover {
  background-color: #0083ff;
  color: #dce4eb;
}


#task-button {
  font-family: "Poppins";
  font-size: 28px;
  color: black;
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}


#project-button {
  font-family: "Poppins";
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro;

}


.homeDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  background-color: rgb(245, 244, 210);
  height: 100%;
}


.headline {
  font-family: "Poppins", Courier, monospace;
  font-size: 40px;
}

.heading {
  font-family: "Poppins", Courier, monospace;
  font-size: 40px;
  color: red;
}


.page-content {
  display: flex;
  height: 100%;
  background-color: greenyellow;
}